/* If the browser screen width less than or equals to 400 pixels, display the final image on the comic, the bottom-right-most image of software.png that reads "What the customer really needed". */
@media only screen 
and (max-width : 400px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -515px -246px;
	}
}

/* If the browser screen width is greater than 400 pixels but less than or equal to 500 pixels, display the fourth image on the bottom row. */
@media only screen 
and (min-width : 401px) 
and (max-width : 500px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -388px -246px;
	}
}

/* If the browser screen width is greater than 500 pixels but less than or equal to 600 pixels, display the third image on the bottom row. */
@media only screen 
and (min-width : 501px) 
and (max-width : 600px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -261px -246px;
	}
}

/* If the browser screen width is greater than 600 pixels but less than or equal to 700 pixels, display the second image on the bottom row. */
@media only screen 
and (min-width : 601px) 
and (max-width : 700px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -134px -246px;
	}
}

/* If the browser screen width is greater than 700 pixels but less than or equal to 800 pixels, display the first image on the bottom row (i.e., "How the project was documented"). */
@media only screen 
and (min-width : 701px) 
and (max-width : 800px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -8px -246px;
	}
}

/* If the browser screen width is greater than 800 pixels but less than or equal to 900 pixels, display the fifth image on the top row. */
@media only screen 
and (min-width : 801px) 
and (max-width : 900px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -514px -8px;
	}
}

/* If the browser screen width is greater than 900 pixels but less than or equal to 1000 pixels, display the fourth image on the top row. */
@media only screen 
and (min-width : 901px) 
and (max-width : 1000px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -388px -8px;
	}
}

/* If the browser screen width is greater than 1000 pixels but less than or equal to 1100 pixels, display the third image on the top row (i.e., "How the Analyst designed it"). */
@media only screen 
and (min-width : 1001px) 
and (max-width : 1100px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -261px -8px;
	}
}

/* If the browser screen width is greater than 1100 pixels but less than or equal to 1200 pixels, display the second image on the top row (i.e., "How the Project Leader understood it"). */
@media only screen 
and (min-width : 1101px) 
and (max-width : 1200px) {
	.software {
		width: 119px; 
		height: 228px; 
		background: url(software.png) -134px -8px;
	}
}

/* If the browser screen width is greater than 1200 pixels, display the top-left image of software.png (i.e., the one that reads "How the customer explained it") */
@media only screen 
and (min-width : 1201px) {
	.software {
		width: 119px; 
		height: 228px; 
		background:url(software.png) -8px -8px;
	}
}